{% load static %}
<!Doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
	   	<meta name="viewport" content="width=device-width, initial-scale=1">
	   	<title>Mundo Cuotas{% if site_name %} - {{ site_name }}{% endif %}</title>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "Mundo Cuotas",
				"image": "{% static 'img/logo.png' %}",
				"url": "https://www.mundo-cuotas.com.ar/",
				"telephone": "+5492494547860",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "Azucena 937",
					"addressLocality": "Tandil",
					"postalCode": "7000",
					"addressCountry": "Argentina",
					"addressRegion": "Buenos Aires"
				}
			}
		</script>
		
		<meta name="google-site-verification" content="J3rxKhZE86dCgbNE8b3pInqJBGypX1sw0yndreLJnZY" />

		<meta name="robots" content="index, follow">
		<meta name="description" content="Descubre Mundo Cuotas y Compra productos directo de fábrica en cuotas, sin complicaciones. Encontranos en Tandil, Benito Juárez, Rauch y Ayacucho.">
		<link rel="canonical" href="https://www.mundo-cuotas.com.ar{{ request.path }}">
		<!-- Open Graph data -->
		<meta property="og:type" content="business.business">
		<meta property="og:title" content="Mundo Cuotas{% if site_name %} - {{ site_name }}{% endif %}">
		<meta property="og:url" content="https://www.mundo-cuotas.com.ar{{ request.path }}">
		<meta property="og:image" content="{% static 'img/logo.png' %}">
		<meta property="og:description" content="Descubre Mundo Cuotas y Compra productos directo de fábrica en cuotas, sin complicaciones. Encontranos en Tandil, Benito Juárez, Rauch y Ayacucho.">
		<meta property="business:contact_data:street_address" content="Azucena 937">
		<meta property="business:contact_data:locality" content="Tandil">
		<meta property="business:contact_data:region" content="Buenos Aires">
		<meta property="business:contact_data:postal_code" content="7000">
		<meta property="business:contact_data:country_name" content="Argentina">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body class="bg-light">


		<header>
			<nav id="main-nav" 
				class="navbar navbar-expand-md navbar-light px-4 fondo"
				hx-get="{% url 'users:load_navbar' %}"
				hx-trigger="load, navbarChanged from:body"
			>
			</nav>
			{% block header %}{% endblock %}
		</header>
	
		<main>
			{% block content %}
			{% endblock %}
			
			{% include 'components/modal.html' %}
			{% include 'components/toast.html' %}
		</main>
		
		<!--Footer-->
		<footer>
			{% block footer %}
			{% endblock footer %}
			
			{% include 'components/footer.html' %}
		</footer>
		
		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org@1.9.12"></script>
		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<!--GSAP-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
		<!-- Custom JS -->
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/scroll.js' %}"></script>

		{% block scripts %}
		{% endblock scripts %}
	</body>
</html>