{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="bg-header">
    <div class="px-4 py-5 text-center" style="background-color: rgba(176, 112, 206, 0.203);">

        <img src="{% static 'img/logo.png' %}" alt="Mundo Cuotas" width="95" class="d-block mx-auto revelar izquierda">
        <h1 class="display-5 fw-bold text-body-emphasis brand revelar izquierda advent-pro">
            Comprá en cuotas solo con tu firma
        </h1>
    
        <div class="col-lg-6 mx-auto revelar izquierda">
            <h2 class="lead fw-normal mb-4">Compra productos directo de fábrica en cuotas, sin complicaciones. Encontranos en Tandil, Benito Juárez, Rauch y Ayacucho.</h2>
            <div class="mx-auto" style="max-width: 600px">
                <form class="input-group" id="search-form">
                    <input id="consult1" name="consult" class="form-control" type="text" placeholder="¿Que estas buscando?" aria-label="¿Que estas buscando?" />
                    <button class="btn btn-success" id="button-search">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>    
        </div>
    </div>
            
</div>
{% endblock header %}

{% block content %}
    <section id="products" class="container-fluid py-3 fondo">
        <div class="p-3 p-md-5">
            <div class="px-0 px-md-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i> Inicio</li>
                    </ol>
                </nav>
                <h3 class="fw-semibold border-bottom text-uppercase fs-4 advent-pro">Productos Destacados</h3>
                <div class="row gx-2 gx-md-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                    {% for product in featured_products %}
                        {% include 'products/partials/product_card.html' %}
                    {% endfor %}
                </div>
                <div class="text-center mt-2">
                    <a href="{% url 'products:product_list' %}?type=3" class="btn btn-outline-dark" style="width: 320px;">Ver más destacados</a>
                </div>
            </div>
        </div>
    </section>

    <section id="products" class="container-fluid py-3 fondo">
        <div class="p-3 p-md-5">
            <div class="px-0 px-md-5">
                <h3 class="fw-semibold border-bottom text-uppercase fs-4 advent-pro">Productos en Oferta</h3>
                    <div class="row gx-2 gx-md-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                        {% for product in offer_products %}
                            {% include 'products/partials/product_card.html' %}
                        {% endfor %}
                    </div>
                <div class="text-center mt-2">
                    <a href="{% url 'products:product_list' %}?type=2" class="btn btn-outline-dark" style="width: 320px;">Ver más ofertas</a>
                </div>
            </div>
        </div>
    </section>
    <section id="products" class="container-fluid py-3 fondo">
        <div class="p-3 p-md-5">
            <div class="px-0 px-md-5">
                <h3 class="fw-semibold border-bottom text-uppercase fs-4 advent-pro">Más productos</h3>
                    <div class="row gx-2 gx-md-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                        {% for product in regular_products %}
                            {% include 'products/partials/product_card.html' %}
                        {% endfor %}
                    </div>
                
                <div class="text-center mt-2">
                    <a href="{% url 'products:product_list' %}" class="btn btn-outline-dark" style="width: 320px;">Ver más productos</a>
                </div>
            </div>
        </div>
    </section>         
{% endblock content %}

{% block footer %}
    {% include 'components/contact_footer.html' %}
{% endblock footer %}

{% block scripts %}
    <script>
        document.getElementById("search-form").addEventListener("submit", function(event) {
            event.preventDefault();

            var consult = document.getElementById("consult1").value;
            var url = "{% url 'products:product_list' %}?consult=" + consult;

            window.location.href = url;
        });
    </script>
{% endblock scripts %}
