{% load widget_tweaks %}
{% load custom_filters %}

<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ product.name }}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
          
        <div class=" align-items-center">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner text-center">
                    {% for file in product.files.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-color: rgba(0, 0, 0, 0.034);">
                            {% with file_type=file.file|determine_file_type %}
                                {% if file_type == 'image' %}
                                <img src="{{ file.file.url }}" class="card-img-top mb-5 mb-md-0" alt="{{ file.file.name }}" style="height: 400px; width:100%; object-fit:contain;">
                                {% elif file_type == 'video' %}
                                <video src="{{ file.file.url }}" class="card-img-top mb-5 mb-md-0" alt="{{ file.file.name }}" style="height: 400px; width:100%; object-fit:contain;"></video>
                                {% endif %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
                <div class="col-12">
                <div class="small mb-1">{{ product.category.parent }} - {{ product.category }}</div>
                <div class="small mb-1">
                    {% if product.status == 1 %}
                        <span class="text-danger">No publicado</span>
                    {% elif product.status == 2 %}
                        <span class="text-danger">Publicado</span>
                    {% endif %} 
                    {% if product.type == 1 %}
                        (Regular)
                    {% elif product.type == 2 %}
                        (Oferta)
                    {% elif product.type == 3 %}
                        (Destacado)
                    {% endif %}
                </div>
                    
        

                <div class="mb-3">
                    <span class="small"><span class="fw-semibold">Fecha de creación: </span>{{ product.created_at }}</span><br>
                    <span class="small"><span class="fw-semibold">Fecha de actualización: </span>{{ product.updated_at }}</span>
                </div>

                <p class="fs-6">{{ product.description|linebreaks }}</p>
                {% if product.price_cash %}
                    <table class="table table-sm table-borderless small">
                        <tbody>
                            <tr>
                                <th scope="row">Contado</th>
                                <td>${{ product.price_cash|format_number_with_commas:2 }}</td>
                            </tr>
                            {% if product.price_12_weeks %}
                            <tr>
                                <th scope="row">12 semanas</th>
                                <td>${{ product.price_12_weeks|format_number_with_commas:2 }}</td>
                            </tr>
                            {% endif %}
                            {% if product.price_6_fortnights %}
                            <tr>
                                <th scope="row">6 quincenas</th>
                                <td>${{ product.price_6_fortnights|format_number_with_commas:2 }}</td>
                            </tr>
                            {% endif %}
                            {% if product.price_3_months %}
                            <tr>
                                <th scope="row">3 meses</th>
                                <td>${{ product.price_3_months|format_number_with_commas:2 }}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a hx-get="{% url 'products:product_update' product.slug %}" hx-target="#dialog" class="btn btn-success"  >
            <i class="fas fa-edit"></i>
        </a>
        <a hx-get="{% url 'products:product_confirm_delete' product.slug %}" hx-target="#dialog" class="btn btn-danger" >
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>
</div>
