{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="px-4 py-5 text-center bg-header">
        
        <h1 class="display-5 fw-bold text-body-emphasis brand">
            <img src="{% static 'img/logo.png' %}" alt="Mundo Cuotas" width="95">
            MUNDO CUOTAS
        </h1>

        <div class="col-lg-6 mx-auto">
        <h2 class="lead fw-normal mb-4">Comprá en cuotas solo con tu firma en Tandil, Ayacucho y ayacucho</h2>
        </div>
    </div>
{% endblock header %}

{% block content %}
    <section 
        class="py-5"
        hx-get="{% url 'products:load_product_list' %}"
        hx-target="#results"
        hx-trigger="load, productListChanged from:body"
    >
        <div class="container px-4 px-lg-5 mt-2">
            <div id="results" class="row gx-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                
            </div>
        </div>
    </section>
{% endblock content %}