@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wdth@150&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

.advent-pro, .nav-link, .dropdown-item, .btn{
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.btn{
    font-weight: 600;
}
.active{
    text-decoration: underline 3px rgb(0, 0, 0);
}


.login-form{
    width: 450px;

}


.icon-navbar{
    width: 50px;
}

.icon-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.brand, .username{
    color: rgb(123, 86, 149);

}
.brand:hover{
    color: rgb(146, 109, 172);
}
.search-navbar{
    max-width: 500px;  
}

.bg-header{
    background-image:url('../img/fondo.jpeg');
    background-size:cover;
}

.card, .btn, .form-control{
    border-radius: 2px;
}

.card{
    background-color: rgba(251, 251, 251, 0.573)!important;

}
.fondo{
    background-image: linear-gradient(180deg, rgba(238, 238, 238, 0.8) 40%, rgba(216, 215, 215, 0.8) 100%);
    background-color: rgb(245, 245, 245);
}

.fondo2{
    background-image: linear-gradient(180deg, rgba(186, 186, 186, 0.632) 100%, rgba(238, 238, 238, 0.8) 40%);
    background-color: rgb(245, 245, 245);
}

.bg-card{
    background-color: rgba(251, 251, 251, 0.527)!important;
}



.checkeable input {
    display: none;
}
.checkeable img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2.5px solid rgba(0, 0, 0, 0.091);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.164);
}
.checkeable input:checked + img {
    border-color:  rgb(255, 0, 0);
}

.notification{
    font-size:11px;
}

.active-nav{
    text-decoration: underline 3px;
}

.dropdown-toggle::after {  
    content: none;
}

textarea{
    resize: none;
    height: 150px!important;
}


@media (max-width: 454px) {
    .notification{
        font-size:9px;
    }

}   
@media (max-width: 500px) {
    .login-form{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .ocultar{
        display: none;
    }
}
