<div class="container-fluid p-md-5 p-5 pb-5 fondo">
    <div class="row gx-4 gx-lg-5 revelar">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-map-marked-alt fa-2x mb-2"></i>
                    <hr>
                    <a class="text fw-semibold scale text-decoration-none text-black" href="https://maps.app.goo.gl/EyFXxrnwVGMubXzHA" target="_blank" rel="nofollow noopener noreferrer">
                        Azucena 937 - Tandil
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-envelope fa-2x"></i>
                    <hr>
                    <a class="text fw-semibold scale text-decoration-none text-black" href="mailto:cintiabergquist@hotmail.com" target="_blank" rel="nofollow noopener noreferrer">
                        cintiabergquist@hotmail.com
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fab fa-whatsapp fa-2x"></i>
                    <hr>
                    <a class="text fw-semibold scale text-decoration-none text-black" href="https://wa.me/542494547860" target="_blank" rel="nofollow noopener noreferrer">
                        +54 9 2494 547860
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.4983945994927!2d-59.17640799999999!3d-37.3070204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959121eb063b125b%3A0xae4a8b9b1c577ce4!2sAzucena%20937%2C%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1721228741085!5m2!1ses-419!2sar" 
        width="100%" 
        height="300" 
        frameborder="0"
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        marginheight="0"
        marginwidth="0"
        title="Mapa de Tandil Azucena 937"
        >
    </iframe>
</div>

