<div class="container-fluid p-md-5 p-4 pb-5 fondo">
    <div class="row gx-4 gx-lg-5 revelar">
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-map-marked-alt fa-2x mb-2"></i>
                    <h4 class="text-uppercase m-0">Dirección</h4>
                    <a class="text fw-semibold scale text-decoration-none text-black" href="https://www.google.com/maps/place/Ugalde+2159,+Tandil,+Provincia+de+Buenos+Aires/@-37.3001473,-59.1262451,17z/data=!3m1!4b1!4m5!3m4!1s0x9591201804b28063:0x884ad7fac9b10c79!8m2!3d-37.3001473!4d-59.1262451?entry=ttu" target="_blank" rel="nofollow noopener noreferrer">
                        Ugalde 2159 - Tandil
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fas fa-envelope fa-2x mb-2"></i>
                    <h4 class="text-uppercase m-0">Email</h4>
                    <a class="text fw-semibold scale text-decoration-none text-black" href="mailto:nobodies.tattootandil@gmail.com" target="_blank" rel="nofollow noopener noreferrer">
                        nobodies.tattootandil@gmail.com
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
                <div class="card-body text-center">
                    <i class="fab fa-whatsapp fa-2x mb-2"></i>
                    <h4 class="text-uppercase m-0">Whatsapp</h4>
                    <a class="text fw-semibold scale text-decoration-none text-black" href="https://wa.me/542494271876" target="_blank" rel="nofollow noopener noreferrer">
                        +54 9 2494 271876
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
  <iframe
    id="map-canvas"
    class="map_part"
    width="100%"
    height="300"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=Tandil Ugalde 2159&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
    title="Mapa de Tandil Ugalde 2159"
  >
  </iframe>
</div>