{% load static %}

<div class="d-flex flex-wrap justify-content-between align-items-center px-4 px-md-5 pb-4">
    <ul class="col-12 nav justify-content-center py-3 mb-3 fw-semibold border-bottom fs-5">
        <li class="nav-item"><a href="{% url 'products:product_list' %}" class="nav-link px-2 text-body-secondary fw-bold">Productos</a></li>
        <li class="nav-item"><a href="{% url 'products:contact' %}" class="nav-link px-2 text-body-secondary fw-bold">Sobre nosotros</a></li>
        <li class="nav-item"><a href="{% url 'products:contact' %}" class="nav-link px-2 text-body-secondary fw-bold">Contacto</a></li>

        {% if user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'products:product_list_admin' %}" class="nav-link px-2 text-body-secondary fw-bold">Administración</a></li>
        {% endif %}
    </ul>

    <div class="col-12 d-flex align-items-center justify-content-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img src="{% static 'img/logo.png' %}" alt="Mundo Cuotas" style="width: 50px">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary pt-3 fw-normal">&copy; <span id="year"></span> MUNDO CUOTAS</span>
    </div>

    
</div>  

<script>
  const yearElement = document.getElementById("year");
  const currentYear = new Date().getFullYear();
  yearElement.textContent = currentYear;
</script>