{% load custom_filters %}

<div class="col mb-4">
    <div class="card h-100 position-relative border-0">
        <img class="card-img-top object-fit-cover" src="{{ product.files.first.file.url }}" alt="{{ product.name}}" style="height: 150px"/>
        {% if product.type == 2 %}
            <p class="position-absolute top-0 end-0 badge bg-success m-2">En oferta</p>
        {% elif product.type == 3 %}
            <p class="position-absolute top-0 end-0 badge bg-success m-2">Destacado</p>
        {% endif %}
        <div class="card-body pb-0">
            <div class="text-center">
                <h4 class="fw-semibold fs-5 advent-pro">{{ product.name }}</h4>
                {% if product.price_cash %}
                    <p>${{ product.price_cash|format_number_with_commas:2 }}</p>             
                {% endif %}
            </div>
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'products:product_detail' product.slug %}">Ver producto</a></div>
        </div>
    </div>
</div>