
        {% for product in object_list %}
                                <div class="col mb-5">
                                    <div class="card h-100">
                                        <img class="card-img-top object-fit-cover" src="{{ product.files.first.file.url }}" alt="{{ product.name}}" style="height: 150px"/>
                                        <div class="card-body">
                                            <div class="text-center">
                                                <h4 class="fw-semibold">{{ product.name }}</h4>
                                                {% if product.price %}
                                                    <p>$40.00</p>             
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'products:product_detail' product.slug %}">Ver producto</a></div>
                                        </div>
                                    </div>
                                </div>
        {% endfor %}

    {% include 'components/pagination.html' %}
